*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    margin-left: 30px;
    margin-top: 30px;
}

.logo {
    height: 70px;
    margin-left: 10px;
}
.easybuy-con {
    font-size: 40px;
    margin-left: 30px;
    margin-top: 50px;
    color: rgb(48, 54, 54);
}
.easybuy-con span{
    color: #88ff00;

}
.col-md-6 p {
    color: rgb(60, 30, 75);
    margin-left: 30px;
    font-size: 20px;
}
.easybuyImg {
    padding: 50px;
}
.btn {
    padding: 5px;
    height: 50px;
    width: 130px;
    background-color: deepskyblue;
}
.btn:hover {
    background-color: rgb(61, 167, 48);
    color: rgb(197, 221, 233);
}

.menu{
    font-size: 24px;
}
.menu:hover{
    font-size: 23px;

}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    margin-top: 50px;
    margin-left: 30px;
}
.conhead{
    color:rebeccapurple ;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.col {
    padding: 20px;
}
.card {
    padding: 10px;
}
.card-body{
    padding: 5px;
    margin-left: 20px;
}
.card-img-top {
    padding: 50px;
}
.card-title{
    color: rgb(104, 98, 110);
    font-size: 24px;
    text-align: left;
    border-bottom: 1px solid gray;
}
.card-text{
    color: rgb(67, 63, 71);
    font-size: 15px;
    text-align: left;
}
.listimg-con{
    margin-top: 60px;
}
.clearenceCon{
    margin-top: 50px;
}
.discount-sec{
    background-color: rgb(231, 210, 210);
}
.discount-text {
    text-align: center;
    padding: 50px;
}
.circle-text {
    background-color: white;
    border-radius: 100px;
    padding: 10px;
}

.off-con{
 color: rgb(71, 71, 65);
 font-size: 30px;
}
.conheadtext{
    text-align: center;
    color: darkslategray;
    font-size: 20px;
}
.footer{
    margin-top: 30px;
}
.footleft{
    background-color: rgb(148, 118, 118);
}
.footright{
    background-color: rgb(173, 136, 136);
}
.foothead{
    text-align: center;
    font-weight: bold;
    color: teal;
}
.footheadtext{
    text-align: center;
    font-size: 20px;
}

.footbox {
    background-color: tomato;
    display: flex;
    margin: 15px;
    border-radius: 20px;
}
.footboxtext {
    padding: 30px;
}
.footboxtext b {
    font-size: 24px;
}
.footboxicon {
    padding: 20px;
    float: right;
    font-size: 100px;
}
.madeby{
    text-align: center;
    padding: 20px;
    color: crimson;
}